In [27]:
# Iport the packages that will be usefull for this part of the lesson
from collections import OrderedDict, Counter
import pandas as pd
from pprint import pprint

# Small trick to get a larger display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

# High-performance container datatypes from the standard library

**Python standard library contains a very interesting module to simplify the parsing a file: "collections" (See [documentation](https://docs.python.org/3.5/library/collections.html) for detailed information)**

**This module implements specialized container datatypes providing alternatives to Python’s native data structures (dict, list, set...)**

**Two new containers are particularly useful:**
* Counter
* OrderedDict

---
## Counter

**A [Counter](https://docs.python.org/3.5/library/collections.html#collections.Counter) container is provided to support convenient and rapid counting of specific occurences. See also [defaultdict](https://docs.python.org/3.5/library/collections.html#collections.defaultdict) for a generalization to other types than integer.**

***Example: counting characters in a string***

In [ ]:
from collections import Counter

In [ ]:
random_text = """Ukip is likely to be asked to repay tens of thousands of euros by European parliament finance chiefs
who have accused the party of misspending EU funds on party workers and Nigel Farage’s failed bid to win a seat in
Westminster.The Alliance for Direct Democracy in Europe (ADDE), a Ukip-dominated political vehicle, will be asked to
repay €173,000 (£148,000) in misspent funds and denied a further €501,000 in EU grants for breaking European rules
that ban spending EU money on national election campaigns and referendums. According to a European parliament audit
report seen by the Guardian, Ukip spent EU funds on polling and analysis in constituencies where they hoped to win a 
seat in the 2015 general election, including the South Thanet seat that party leader Farage contested. The party also
funded polls to gauge the public mood on leaving the EU, months before the official campaign kicked off in April 2016"""

In [ ]:
# Example with a Counter 
c = Counter()

# Iterate over each characters of the string
for character in random_text:
    # Increment the counter for the current element
    c[character.lower()] += 1

# Order by most frequent element
c.most_common()

In [ ]:
# Same thing but with native collections
d = {}

# Iterate over each characters of the string
for character in random_text:
    # If the element is not in the dict we have to create an entry first
    if character not in d:
        d[character.lower()] = 0
    # Increment the counter for the current element
    d[character.lower()]+=1
    
# Order by most frequent element
sorted(d.items(), key=lambda t: t[1], reverse=True)

***Example: Ramdomly selected global event with catastrophic consequences***

In [ ]:
c =Counter()

# Open the file
with open ("../data/US_election vote_sample.txt", "r") as fp:
    # Separate words by tabulations
    for candidate in fp.read().split("\t"):
        # Increment the counter for the current element
        c[candidate]+=1

# Order by most frequent element
c.most_common()

***Example: Counting feature types in a gene annotation file (gff3)***

In [ ]:
# print the 2 first lines of a file to analyse the file structure
with open ("../data/gencode_random.gff3", "r") as fp:
    for i in range (2):
        print (next(fp))

The "feature type" is the 3rd element of the list => index 2 in python

In [ ]:
c = Counter()

# Open the file
with open ("../data/gencode_random.gff3", "r") as fp:
    # Iterate over lines
    for line in fp:
        # Split the line and get the element 3
        feature_type = line.split("\t")[2]
        # Increment the counter
        c[feature_type]+=1
        
# Order by most frequent element
c.most_common()

---
## OrderedDict

**In a standard python dictionary, the order of the elements is not guaranteed and can change between 2 successive calls. In many situation, it can be annoying particularly if the order of elements in a parsed file matters (fastq, fasta...)**

**[Ordered dictionaries](https://docs.python.org/3.5/library/collections.html#collections.OrderedDict) are just like regular dictionaries but they remember the order that items were inserted, like lists.**

**When iterating over an ordered dictionary, the items are returned in the order their keys were first added.**

In [24]:
from collections import OrderedDict, Counter

In [ ]:
fruit_str = "banana ripe:banana unripe:banana ripe:banana rotten:apple ripe:apple ripe:apple ripe:apple unripe:orange unripe:orange unripe:orange unripe:pear rotten:pear rotten:pear ripe"

***Parsing with a normal dictionary***

In [ ]:
d={}

for element in fruit_str.split(":"):
    fruit, status = element.split(" ")
    if fruit not in d:
        d[fruit] = Counter()
    d[fruit][status]+=1

d

***Parsing with a Ordered dictionary***

In [ ]:
d=OrderedDict()

for element in fruit_str.split(":"):
    fruit, status = element.split(" ")
    if fruit not in d:
        d[fruit] = Counter()
    d[fruit][status]+=1

d

**Since an ordered dictionary remembers its insertion order, it can be used in conjunction with sorting to make a sorted dictionary (by key or value) from a standard dictionary**

In [31]:
print ("\nStandard unsorted dictionary")
d = {'banana':3, 'apple':4, 'pear':1, 'orange':2, "peach":10, "apricot":2}
pprint (d)

print("\nDictionary sorted by key")
d_per_key = OrderedDict(sorted(d.items(), key=lambda t: t[0]))
pprint (d_per_key)

print("\nDictionary sorted by value")
d_per_val = OrderedDict(sorted(d.items(), key=lambda t: t[1]))
pprint (d_per_val)

Standard unsorted dictionary
{'apple': 4, 'apricot': 2, 'banana': 3, 'orange': 2, 'peach': 10, 'pear': 1}

Dictionary sorted by key
OrderedDict([('apple', 4),
             ('apricot', 2),
             ('banana', 3),
             ('orange', 2),
             ('peach', 10),
             ('pear', 1)])

Dictionary sorted by value
OrderedDict([('pear', 1),
             ('orange', 2),
             ('apricot', 2),
             ('banana', 3),
             ('apple', 4),
             ('peach', 10)])

---
# Pandas: a Powerful data structures for data analysis, time series, and statistics

* Flexible, and expressive data structures **Series** (1-dimensional) and **DataFrame** (2-dimensional)
* High-level building block for doing **practical, real world data analysis**
* **Nearly as fast as C language** = Build on top of Numpy and extensive use of Cython
* **Robust IO tools** for loading and parsing data from text files, excel files and databases.

## Introduction to Series

* **1D labeled array capable of holding any data type** (integers, strings, float...)

* Similar to a python standard dictionary but **faster** (because based on C datatypes) and more **user-friendly** in Jupyter

In [23]:
import pandas as pd

### Create series

***From 2 lists or sets ***

In [ ]:
Base = ('A','T','C','G','N')
Freq = (0.21, 0.24, 0.27, 0.25, 0.03)
pd.Series(data=Freq, index=Base)

***From a python dictionary***

In [ ]:
d = {'A':0.21, 'T':0.24, 'C':0.27, 'G':0.25, 'N':0.03}
pd.Series(d)

***The data type and series names can be specified***

In [ ]:
d = {'A':21.0, 'T':24.0, 'C':27.0, 'G':25.0, 'N':3.0}
pd.Series(d, name="Percent", dtype=int)

**From a file containing 2 columns with the squeeze option**

In [ ]:
pd.read_table("../data/DNA_distrib.tsv", index_col=0, squeeze=True, sep="\t")

### Manipulate series

***Support list methods***

In [ ]:
s = pd.Series({'A':0.21, 'T':0.24, 'C':0.27, 'G':0.25})

# Concat 2 series
s2 = pd.Series({'Y':0.01, 'N':0.03})
s3 = s.append(s2)
print(s3)

# Slicing
print(s[2:4])

# Extraction
print(s[2])

# the "for" loop works as for a list 
for i in s:
    print (i)

***Support dictionary methods***

In [ ]:
s = pd.Series({'A':21.0, 'T':24.0, 'C':27.0, 'G':25.0, 'N':3.0}, name="Percent", dtype=int)

# Update value
s["A"] = 22
print(s)

# Named indexing
print(s["A"])

# Test for existence
print ("A" in s)
print ("V" in s)

***Support a wide range of mathematic operations (thanks to numpy)***

In [ ]:
s = pd.Series({'A':21, 'T':24, 'C':27, 'G':25, 'N':3}, name="Percent")

print(s.max())
print(s.mean())
print(s.all()>20)
print(s.sem())

# Addition of 2 series will return a results for all values in the 2 series
s2 = pd.Series({'A':0.2, 'T':0.7, 'C':0.4, 'G':1.5, 'N':-3}, name="Percent")

print (s + s2)

## Introduction to Dataframes

* **2-dimensional labeled data structure with columns of potentially different types**
* **HTML rendering in jupyter**

### Create dataframe

***You can optionally pass index (row labels) and columns (column labels) arguments***

***From a pandas Series***

In [ ]:
s = pd.Series({'A':21.0, 'T':24.0, 'C':27.0, 'G':25.0, 'N':3.0})
pd.DataFrame(s, columns=["Percent"])

***From a list of pandas Series***

In [ ]:
series_list = [
    pd.Series({'A':21.0, 'T':24.0, 'C':27.0, 'G':25.0, 'N':3.0}, name="Percent"),
    pd.Series({'A':331.2, 'T':322.2, 'C':307.2, 'G':347.2, 'N':None}, name="MolecularWeight"),
    pd.Series({'A':259, 'T':267, 'C':271, 'G':253, 'N':None}, name="AbsorbanceMax")]

pd.DataFrame(series_list)

**From a simple list of list**

In [ ]:
list_list = [[21.0, 24.0, 27.0, 25.0, 3.0], [331.2, 322.2, 307.2, 347.2, None], [259, 267, 271, 253, None]]
column_list = ['A', 'T', 'C', 'G', 'N']
index_list = ["Percent", "MolecularWeight", "AbsorbanceMax"]

pd.DataFrame(list_list, index=index_list, columns=column_list)

***The Dataframe creation is very versatile and can also be done from Dictionaries of lists, dicts, or Series and from numpy.ndarray...***

***The orientation may differ depending on the source data (columns or index orientation)***

In [ ]:
dict_list = { "Percent":[21.0, 24.0, 27.0, 25.0, 3.0], "MolecularWeight":[331.2, 322.2, 307.2, 347.2, None], "AbsorbanceMax":[259, 267, 271, 253, None]}

pd.DataFrame(dict_list, )

***One of the major strength of Pandas is its ability to perform complex files parsing into a comprehensive dataframe format***

### [Brief aside on general file parsing strategy]

* **Read the first line of the file and try to understand the structure and determine the length of the file**

In [ ]:
# In Python

file = "../data/gencode_random.gff3"

# Read the first 2 lines
with open (file, "r") as fp:
    for _ in range (2):
        print (next(fp))

# Count all the lines
i = 0
with open (file, "r") as fp:
    for line in fp:
        i += 1
print (i, "lines found")

In [ ]:
# In Bash

!head "../data/gencode_random.gff3" -n 2
!echo `wc -l "../data/gencode_random.gff3"` lines found

* **If the file is a standard genomic/proteomic format, read the documentation**

>[gff3 documentation](http://gmod.org/wiki/GFF3)

>In this case the gff3 format consists of 9 tab delimited fields

>The standard fields are named "seqid", "source", "type", "start", "end", "score", "strand", "phase", "attributes"

* **Try to parse the file according to this information** (it will works here but you will frequently have to deal with exceptions...)

***The hard way with a list of dictionaries... But you control everything and you can parse very complex structured files***

In [37]:
file = "../data/gencode_random.gff3"

#Empty list to collect each lines 
l=[]

with open (file, "r") as fp:
    for line in fp:
        
        # Split the line by tabulations 
        sl = line.split("\t")
        
        # Using an ordered dictionary because we want to retain the order in the file
        line_dict = OrderedDict({
            "seqid":sl[0],  
            "source":sl[1],  
            "type":sl[2],  
            "start":sl[3],  
            "end":sl[4],  
            "score":sl[5],  
            "strand":sl[6],  
            "phase":sl[7],  
            "attributes":sl[8]})
        
        # Add the line to the general list
        l.append(line_dict)

# print only the 5 first lines of the list (because 10000 lines of dictionaries is a bit long)
pprint (l[0:5])

[OrderedDict([('start', '12452255'),
              ('attributes',
               'ID=CDS:ENST00000410092.7;Parent=ENST00000410092.7;gene_id=ENSG00000134278.15;transcript_id=ENST00000410092.7;gene_type=protein_coding;gene_status=KNOWN;gene_name=SPIRE1;transcript_type=protein_coding;transcript_status=KNOWN;transcript_name=SPIRE1-002;exon_number=15;exon_id=ENSE00003523361.1;level=2;protein_id=ENSP00000387226.3;transcript_support_level=1;tag=basic,appris_principal_3,CCDS;ccdsid=CCDS32790.2;havana_gene=OTTHUMG00000153940.4;havana_transcript=OTTHUMT00000333110.2\n'),
              ('seqid', 'chr18'),
              ('end', '12452391'),
              ('type', 'CDS'),
              ('phase', '0'),
              ('score', '.'),
              ('strand', '-'),
              ('source', 'HAVANA')]),
 OrderedDict([('start', '9995879'),
              ('attributes',
               'ID=UTR5:ENST00000480736.1;Parent=ENST00000480736.1;gene_id=ENSG00000134317.17;transcript_id=ENST00000480736.1;gene_type=protein_coding;gene_status=KNOWN;gene_name=GRHL1;transcript_type=protein_coding;transcript_status=KNOWN;transcript_name=GRHL1-005;exon_number=2;exon_id=ENSE00003609524.1;level=2;protein_id=ENSP00000419831.1;transcript_support_level=4;tag=basic;havana_gene=OTTHUMG00000151704.6;havana_transcript=OTTHUMT00000352825.1\n'),
              ('seqid', 'chr2'),
              ('end', '9995970'),
              ('type', 'five_prime_UTR'),
              ('phase', '.'),
              ('score', '.'),
              ('strand', '+'),
              ('source', 'HAVANA')]),
 OrderedDict([('start', '159886420'),
              ('attributes',
               'ID=CDS:ENST00000504764.5;Parent=ENST00000504764.5;gene_id=ENSG00000248672.5;transcript_id=ENST00000504764.5;gene_type=protein_coding;gene_status=KNOWN;gene_name=LY75-CD302;transcript_type=protein_coding;transcript_status=KNOWN;transcript_name=LY75-CD302-001;exon_number=5;exon_id=ENSE00003684793.1;level=1;protein_id=ENSP00000423463.1;transcript_support_level=2;tag=basic,appris_principal_4,readthrough_transcript,exp_conf,CCDS;ccdsid=CCDS56141.1;havana_gene=OTTHUMG00000161661.2;havana_transcript=OTTHUMT00000365654.2\n'),
              ('seqid', 'chr2'),
              ('end', '159886530'),
              ('type', 'CDS'),
              ('phase', '2'),
              ('score', '.'),
              ('strand', '-'),
              ('source', 'HAVANA')]),
 OrderedDict([('start', '87097937'),
              ('attributes',
               'ID=stop_codon:ENST00000370551.8;Parent=ENST00000370551.8;gene_id=ENSG00000153936.16;transcript_id=ENST00000370551.8;gene_type=protein_coding;gene_status=KNOWN;gene_name=HS2ST1;transcript_type=protein_coding;transcript_status=KNOWN;transcript_name=HS2ST1-002;exon_number=5;exon_id=ENSE00001452996.4;level=2;protein_id=ENSP00000359582.3;transcript_support_level=1;tag=basic,CCDS;ccdsid=CCDS44171.1;havana_gene=OTTHUMG00000010255.4;havana_transcript=OTTHUMT00000457514.1\n'),
              ('seqid', 'chr1'),
              ('end', '87097939'),
              ('type', 'stop_codon'),
              ('phase', '0'),
              ('score', '.'),
              ('strand', '+'),
              ('source', 'HAVANA')]),
 OrderedDict([('start', '208217920'),
              ('attributes',
               'ID=start_codon:ENST00000367033.3;Parent=ENST00000367033.3;gene_id=ENSG00000076356.6;transcript_id=ENST00000367033.3;gene_type=protein_coding;gene_status=KNOWN;gene_name=PLXNA2;transcript_type=protein_coding;transcript_status=KNOWN;transcript_name=PLXNA2-001;exon_number=2;exon_id=ENSE00001443300.1;level=2;protein_id=ENSP00000356000.3;transcript_support_level=1;tag=basic,appris_principal_1,CCDS;ccdsid=CCDS31013.1;havana_gene=OTTHUMG00000036564.6;havana_transcript=OTTHUMT00000088932.6\n'),
              ('seqid', 'chr1'),
              ('end', '208217922'),
              ('type', 'start_codon'),
              ('phase', '0'),
              ('score', '.'),
              ('strand', '-'),
              ('source', 'HAVANA')])]

In [39]:
# Acces element
l[0]["seqid"]

'chr18'

In [40]:
# Cast in a dataframe
df = pd.DataFrame(l)
# print only the 10 first rows of the table (yes 10000 lines is still a bit long even in a dataframe)
df.head(10)

,attributes,end,phase,score,seqid,source,start,strand,type
0,ID=CDS:ENST00000410092.7;Parent=ENST0000041009...,12452391,0,.,chr18,HAVANA,12452255,-,CDS
1,ID=UTR5:ENST00000480736.1;Parent=ENST000004807...,9995970,.,.,chr2,HAVANA,9995879,+,five_prime_UTR
2,ID=CDS:ENST00000504764.5;Parent=ENST0000050476...,159886530,2,.,chr2,HAVANA,159886420,-,CDS
3,ID=stop_codon:ENST00000370551.8;Parent=ENST000...,87097939,0,.,chr1,HAVANA,87097937,+,stop_codon
4,ID=start_codon:ENST00000367033.3;Parent=ENST00...,208217922,0,.,chr1,HAVANA,208217920,-,start_codon
5,ID=CDS:ENST00000610372.4;Parent=ENST0000061037...,24876715,2,.,chr22,ENSEMBL,24876577,+,CDS
6,ID=exon:ENST00000555069.1:2;Parent=ENST0000055...,52646287,.,.,chr14,HAVANA,52646192,-,exon
7,ID=UTR5:ENST00000235933.10;Parent=ENST00000235...,145728327,.,.,chr1,ENSEMBL,145728244,+,five_prime_UTR
8,ID=exon:ENST00000367265.7:21;Parent=ENST000003...,202736392,.,.,chr1,HAVANA,202736213,-,exon
9,ID=UTR5:ENST00000352445.10;Parent=ENST00000352...,179082128,.,.,chr1,HAVANA,179082086,+,five_prime_UTR

***The easy way with a pandas Dataframe... Works most of the time for standard formats***

In [173]:
# Parse all the line with pandas
file = "../data/gencode_random.gff3"
df = pd.read_table(file, sep="\t", names =["seqid", "source", "type", "start", "end", "score", "strand", "phase", "attributes"])

# print only the 10 first rows of the table (well, you know why now...)
df.head(10)

,seqid,source,type,start,end,score,strand,phase,attributes
0,chr18,HAVANA,CDS,12452255,12452391,.,-,0,ID=CDS:ENST00000410092.7;Parent=ENST0000041009...
1,chr2,HAVANA,five_prime_UTR,9995879,9995970,.,+,.,ID=UTR5:ENST00000480736.1;Parent=ENST000004807...
2,chr2,HAVANA,CDS,159886420,159886530,.,-,2,ID=CDS:ENST00000504764.5;Parent=ENST0000050476...
3,chr1,HAVANA,stop_codon,87097937,87097939,.,+,0,ID=stop_codon:ENST00000370551.8;Parent=ENST000...
4,chr1,HAVANA,start_codon,208217920,208217922,.,-,0,ID=start_codon:ENST00000367033.3;Parent=ENST00...
5,chr22,ENSEMBL,CDS,24876577,24876715,.,+,2,ID=CDS:ENST00000610372.4;Parent=ENST0000061037...
6,chr14,HAVANA,exon,52646192,52646287,.,-,.,ID=exon:ENST00000555069.1:2;Parent=ENST0000055...
7,chr1,ENSEMBL,five_prime_UTR,145728244,145728327,.,+,.,ID=UTR5:ENST00000235933.10;Parent=ENST00000235...
8,chr1,HAVANA,exon,202736213,202736392,.,-,.,ID=exon:ENST00000367265.7:21;Parent=ENST000003...
9,chr1,HAVANA,five_prime_UTR,179082086,179082128,.,+,.,ID=UTR5:ENST00000352445.10;Parent=ENST00000352...

### Viewing Data in a Dataframe

***See the top & bottom rows of the frame***

In [130]:
df.head(2)

,seqid,source,type,start,end,score,strand,phase,attributes
0,chr18,HAVANA,CDS,12452255,12452391,.,-,0,ID=CDS:ENST00000410092.7;Parent=ENST0000041009...
1,chr2,HAVANA,five_prime_UTR,9995879,9995970,.,+,.,ID=UTR5:ENST00000480736.1;Parent=ENST000004807...

In [129]:
df.tail(2)

,seqid,source,type,start,end,score,strand,phase,attributes
9998,chr10,HAVANA,exon,133398435,133398515,.,+,.,ID=exon:ENST00000477902.6:4;Parent=ENST0000047...
9999,chr4,HAVANA,exon,70704204,70704348,.,+,.,ID=exon:ENST00000514898.1:1;Parent=ENST0000051...

***Transposing your data***

In [143]:
df.transpose().head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
seqid,chr18,chr2,chr2,chr1,chr1,chr22,chr14,chr1,chr1,chr1,...,chr14,chr6,chr7,chr20,chr5,chr16,chr15,chr3,chr10,chr4
source,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,ENSEMBL,HAVANA,ENSEMBL,HAVANA,HAVANA,...,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA,HAVANA
type,CDS,five_prime_UTR,CDS,stop_codon,start_codon,CDS,exon,five_prime_UTR,exon,five_prime_UTR,...,three_prime_UTR,three_prime_UTR,exon,CDS,exon,five_prime_UTR,three_prime_UTR,CDS,exon,exon
start,12452255,9995879,159886420,87097937,208217920,24876577,52646192,145728244,202736213,179082086,...,100342050,10397915,120973205,18315069,145817894,71546277,74628604,123089168,133398435,70704204
end,12452391,9995970,159886530,87097939,208217922,24876715,52646287,145728327,202736392,179082128,...,100342211,10398416,120973243,18315388,145818054,71546335,74628683,123089294,133398515,70704348

***Sorting data***

In [142]:
df.sort_values(by="seqid").head()

,seqid,source,type,start,end,score,strand,phase,attributes
4999,chr1,HAVANA,five_prime_UTR,174999733,175000180,.,+,.,ID=UTR5:ENST00000367679.6;Parent=ENST000003676...
2055,chr1,HAVANA,exon,37880085,37880194,.,-,.,ID=exon:ENST00000373024.7:15;Parent=ENST000003...
7497,chr1,HAVANA,exon,8360112,8361490,.,-,.,ID=exon:ENST00000400908.6:18;Parent=ENST000004...
2050,chr1,HAVANA,transcript,110943467,110952848,.,+,.,ID=ENST00000440689.1;Parent=ENSG00000232811.1;...
2046,chr1,HAVANA,transcript,61406672,61455874,.,+,.,ID=ENST00000493627.1;Parent=ENSG00000162599.15...

***sampling random rows or column: Awesomeness level +++***

In [208]:
df.sample(n=10, axis=0).sample(n=2, axis=1)

     phase                                         attributes
5065     .  ID=exon:ENST00000539345.6:19;Parent=ENST000005...
9318     .  ID=exon:ENST00000574510.1:1;Parent=ENST0000057...
2460     .  ID=exon:ENST00000599305.1:1;Parent=ENST0000059...
6849     .  ID=ENSG00000233058.1;gene_id=ENSG00000233058.1...
454      .  ID=exon:ENST00000451928.6:6;Parent=ENST0000045...
888      .  ID=exon:ENST00000409020.5:1;Parent=ENST0000040...
7799     .  ID=UTR5:ENST00000512785.5;Parent=ENST000005127...
6456     .  ID=exon:ENST00000460137.6:11;Parent=ENST000004...
5713     .  ID=exon:ENST00000533723.1:1;Parent=ENST0000053...
8993     .  ID=exon:ENST00000409798.5:5;Parent=ENST0000040...

### Descriptive statistics of a dataframe

**Similar to Series, many basic statistics are available.**

The results will only contain the relevant columns (for example *mean()* will be applied only to numeric columns.
 
| Function 	| Description                                	|
|----------	|--------------------------------------------	|
| count    	| Number of non-null observations            	|
| sum      	| Sum of values                              	|
| mean     	| Mean of values                             	|
| mad      	| Mean absolute deviation                    	|
| median   	| Arithmetic median of values                	|
| min      	| Minimum                                    	|
| max      	| Maximum                                    	|
| mode     	| Mode                                       	|
| abs      	| Absolute Value                             	|
| prod     	| Product of values                          	|
| std      	| Bessel-corrected sample standard deviation 	|
| var      	| Unbiased variance                          	|
| sem      	| Standard error of the mean                 	|
| skew     	| Sample skewness (3rd moment)               	|
| kurt     	| Sample kurtosis (4th moment)               	|
| quantile 	| Sample quantile (value at %)               	|
| cumsum   	| Cumulative sum                             	|
| cumprod  	| Cumulative product                         	|
| cummax   	| Cumulative maximum                         	|
| cummin   	| Cumulative minimum                         	|

In [48]:
df.mean()

start    7.395575e+07
end      7.395916e+07
dtype: float64

In [49]:
df.count()

seqid         10000
source        10000
type          10000
start         10000
end           10000
score         10000
strand        10000
phase         10000
attributes    10000
dtype: int64

**One can also use the *describe()* method to a simple table report of the dataframe**

In [58]:
df.describe(include="all")

,seqid,source,type,start,end,score,strand,phase,attributes
count,10000,10000,10000,1.000000e+04,1.000000e+04,10000,10000,10000,10000
unique,24,2,8,NaN,NaN,1,2,4,10000
top,chr1,HAVANA,exon,NaN,NaN,.,+,.,ID=start_codon:ENST00000419219.1;Parent=ENST00...
freq,856,9002,4627,NaN,NaN,10000,5052,6690,1
mean,NaN,NaN,NaN,7.395575e+07,7.395916e+07,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,5.552991e+07,5.553003e+07,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,4.495200e+04,4.520400e+04,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,3.155509e+07,3.155514e+07,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,5.888400e+07,5.890378e+07,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,1.106304e+08,1.106336e+08,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2.488554e+08,2.488581e+08,NaN,NaN,NaN,NaN

### Access the  element in a Dataframe = Indexing and Selection

| Operation                      	| Syntax        	| Result    	|
|--------------------------------	|---------------	|-----------	|
| Select column                  	| df[col]       	| Series    	|
| Select row by label            	| df.loc[label] 	| Series    	|
| Select row by integer location 	| df.iloc[loc]  	| Series    	|
| Slice rows                     	| df[5:10]      	| DataFrame 	|

***Loading a new example file formated in SAM format***

In [115]:
!head -n 5 "../data/sample_alignment.sam"

@SQ	SN:SSV9K2-CMV-GFP-HygroTK-bGHpA	LN:7003
@PG	ID:bwa	PN:bwa	VN:0.7.10-r789	CL:bwa-0.7.10 mem -t 12 ../bwa_index/SSV9K2-CMV-GFP-HygroTK-bGHpA.fa ../fastq/RUN2_S1_R1_1_filtered.fastq.gz ../fastq/RUN2_S1_R2_2_filtered.fastq.gz
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163	163	SSV9K2-CMV-GFP-HygroTK-bGHpA	4862	60	101M	=	4950	189	CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATGACCCCCCAGGCCGTGCTGGCGTTCGTGGCCCTCATCCCGCCGACCTTGCCCGGCA	CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEEEEEEDDDDBDDDDBBDDDDDDDDDDBDDDDDDDBDDDDDDDDDDDDDDDDDDDDB
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169	141	*	0	0	*	*	0	0	TCGTAGATTTCTCTGGCGATTGAAGGGCTAAATTCTTCAACGCTAACTTTGAGAATTTTTGTAAGCAATGCGGCGTTATAAGCATTTAATGCATTGATGCC	CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIJJJJJJJJJJJJJJJIJJJJJJJJJJJIHHHHHHHFFFFDDDDDDDEEDDDDDDEEDDDDEEDDEDDD
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189	83	SSV9K2-CMV-GFP-HygroTK-bGHpA	4285	60	101M	=	4104	-282	AGGGTCGATGCGACGCAATCGTCCGATCCGGAGCCGGGACTGTCGGGCGTACACAAATCGCCCGCAGAAGCGCGGCCGTCTGGACCGATGGCTGTGTAGAA	DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDEEDDDDDDDDDDFHJIJJJJJJJJJJJIIJJJJJIGIJJJHHHFHFFFFFCCC

[SAM format documentation](http://genome.sph.umich.edu/wiki/SAM)

In [210]:
file = "../data/sample_alignment.sam"
columns_names = ['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 'RNEXT', 'PNEXT', 'TLEN', 'SEQ', 'QUAL']

df = pd.read_table(file, sep="\t", names = columns_names, skiprows=[0,1], index_col=0)
df

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4862,60,101M,=,4950,189,CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...,CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169,141,*,0,0,*,*,0,0,TCGTAGATTTCTCTGGCGATTGAAGGGCTAAATTCTTCAACGCTAA...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4285,60,101M,=,4104,-282,AGGGTCGATGCGACGCAATCGTCCGATCCGGAGCCGGGACTGTCGG...,DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,3032,60,101M,=,2809,-324,CTGTTGAATGTCGTGAAGGAAGCAGTTCCTCTGGAAGCTTCTTGAA...,DDDEEDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDEDDD...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,2809,60,101M,=,3032,324,CTATAGGGAGACCACAACGGTTTCCCTCTAGCGGGATCAATTCCGC...,CCCFFFFFHHHHHJJIJJJJIIJJJJJJJJJJJJJHJJIJJJIIIJ...
HWI-1KL149:87:HA58EADXX:1:1101:1813:2228,2115,SSV9K2-CMV-GFP-HygroTK-bGHpA,5466,60,39M62H,=,4511,-956,GCCCGGGAGATGGGGGAGGCTAACTGAAAATCGATGGAT,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHJJJJJ
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,1392,60,101M,=,1503,212,NCATTGATTATTGACTAGTTATTAATAGTAATCAATTACGGGGTCA...,#1=DDFFFHHHHHJJJJJJJJJJJJIJJIJJJJJJJJJJJJJJGHI...
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4828,60,101M,=,4925,198,CCCTCACCCTAATCTTCGACCGCCATCCCATCGCCGCCCTCCTGTG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJHHHHHF...
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222,141,*,0,0,*,*,0,0,ACAGTTTGATGAGTATAGAAATGGATCCACTCGTTATTCTCGGACG...,CCCFFFFFHHHHHHIIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2344:2177,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4321,60,101M,=,4198,-224,GGACTGTCGGGCGTACACAAATCGCCCGCAGAAGCGCGGCCGTCTG...,DDDDDDDDDDDDEDDDEDDDDDDDDDDDDDDDDDDDDDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,5493,60,101M,=,5559,167,AAATCGATGGATCCACTAGTTCTAGAGGGCCCTATTCTATAGTGTC...,CCCFFFFFHHHHHJJJJJJIIJJJJJJJJJJJJIJJJJIJJJHGII...
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,3756,60,101M,=,3829,174,CCGGTCGCGGAGGCCATGGATGCGATCGCTGCGGCCGATCTTAGCC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHHFDDDDDDEDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2647:2140,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4552,60,101M,=,4437,-216,CCACCACGCAACTGCTGGTGGCCCTGGGTTCGCGCGACGATATCGT...,@<2DB<BC>CABCDB?DB@B?DBA?DDDBB>@>;8?98@==?;;C=...
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5279,60,101M,=,5457,279,CGTGTTTGCCTGGGCCTTGGACGTCTTGGCCAAACGCCTCCGTTCC...,CCCFFFFFHHHHGIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177,147,SSV9K2-CMV-GFP-HygroTK-bGHpA,3530,60,101M,=,3440,-191,CTTCGATGTAGGAGGGCGTGGATATGTCCTGCGGGTAAATAGCTGC...,DDDDDDDDDDDDDDDDDDDEDEDDCDDDDDDDDDEEEDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5128,60,101M,=,5206,179,GGGAGGACTGGGGACAGCTTTCGGGGACGGCCGTGCCGCCCCAGGG...,CCCFFFFFHHHHHIJIJJJJJJJJJJJJJJJJJJJHHHFDDDDDDD...

***Examples of column slicing***

In [116]:
df["FLAG"]

QNAME
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163     163
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169     141
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189      83
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238      83
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238     163
HWI-1KL149:87:HA58EADXX:1:1101:1813:2228    2115
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119      99
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244     163
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222     141
HWI-1KL149:87:HA58EADXX:1:1101:2344:2177      83
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113     163
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160     163
HWI-1KL149:87:HA58EADXX:1:1101:2647:2140      83
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174      99
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177     147
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200      99
Name: FLAG, dtype: int64

In [117]:
df.FLAG

QNAME
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163     163
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169     141
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189      83
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238      83
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238     163
HWI-1KL149:87:HA58EADXX:1:1101:1813:2228    2115
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119      99
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244     163
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222     141
HWI-1KL149:87:HA58EADXX:1:1101:2344:2177      83
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113     163
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160     163
HWI-1KL149:87:HA58EADXX:1:1101:2647:2140      83
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174      99
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177     147
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200      99
Name: FLAG, dtype: int64

In [125]:
df[["FLAG", "POS"]]

                                          FLAG   POS
QNAME
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163   163  4862
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169   141     0
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189    83  4285
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238    83  3032
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238   163  2809
HWI-1KL149:87:HA58EADXX:1:1101:1813:2228  2115  5466
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119    99  1392
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244   163  4828
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222   141     0
HWI-1KL149:87:HA58EADXX:1:1101:2344:2177    83  4321
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113   163  5493
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160   163  3756
HWI-1KL149:87:HA58EADXX:1:1101:2647:2140    83  4552
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174    99  5279
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177   147  3530
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200    99  5128

***Examples of index slicing***

In [118]:
df.loc["HWI-1KL149:87:HA58EADXX:1:1101:1531:2163"]

FLAG                                                   163
RNAME                         SSV9K2-CMV-GFP-HygroTK-bGHpA
POS                                                   4862
MAPQ                                                    60
CIGAR                                                 101M
RNEXT                                                    =
PNEXT                                                 4950
TLEN                                                   189
SEQ      CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...
QUAL     CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
Name: HWI-1KL149:87:HA58EADXX:1:1101:1531:2163, dtype: object

In [165]:
df.loc["HWI-1KL149:87:HA58EADXX:1:1101:1531:2163":"HWI-1KL149:87:HA58EADXX:1:1101:1744:2169"]

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4862,60,101M,=,4950,189,CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...,CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169,141,*,0,0,*,*,0,0,TCGTAGATTTCTCTGGCGATTGAAGGGCTAAATTCTTCAACGCTAA...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIJJJJJJJJJJJJJ...

In [120]:
df.iloc[0]

FLAG                                                   163
RNAME                         SSV9K2-CMV-GFP-HygroTK-bGHpA
POS                                                   4862
MAPQ                                                    60
CIGAR                                                 101M
RNEXT                                                    =
PNEXT                                                 4950
TLEN                                                   189
SEQ      CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...
QUAL     CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
Name: HWI-1KL149:87:HA58EADXX:1:1101:1531:2163, dtype: object

In [121]:
df.iloc[10:12]

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,5493,60,101M,=,5559,167,AAATCGATGGATCCACTAGTTCTAGAGGGCCCTATTCTATAGTGTC...,CCCFFFFFHHHHHJJJJJJIIJJJJJJJJJJJJIJJJJIJJJHGII...
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,3756,60,101M,=,3829,174,CCGGTCGCGGAGGCCATGGATGCGATCGCTGCGGCCGATCTTAGCC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHHFDDDDDDEDDD...

***Examples of combination of column and index slicing to select a specific item or a range of items***

In [164]:
df.loc["HWI-1KL149:87:HA58EADXX:1:1101:1531:2163":"HWI-1KL149:87:HA58EADXX:1:1101:1744:2169", "FLAG"]

QNAME
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163    163
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169    141
Name: FLAG, dtype: int64

In [159]:
df.loc["HWI-1KL149:87:HA58EADXX:1:1101:1531:2163"]["FLAG"]

163

In [163]:
df.iloc[0,0]

163

In [160]:
df.iloc[0][0]

163

### Select specific elements based on their values = Boolean Indexing

***With a single condition***

In [215]:
df[df.FLAG == 163]

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4862,60,101M,=,4950,189,CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...,CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,2809,60,101M,=,3032,324,CTATAGGGAGACCACAACGGTTTCCCTCTAGCGGGATCAATTCCGC...,CCCFFFFFHHHHHJJIJJJJIIJJJJJJJJJJJJJHJJIJJJIIIJ...
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4828,60,101M,=,4925,198,CCCTCACCCTAATCTTCGACCGCCATCCCATCGCCGCCCTCCTGTG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJHHHHHF...
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,5493,60,101M,=,5559,167,AAATCGATGGATCCACTAGTTCTAGAGGGCCCTATTCTATAGTGTC...,CCCFFFFFHHHHHJJJJJJIIJJJJJJJJJJJJIJJJJIJJJHGII...
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,3756,60,101M,=,3829,174,CCGGTCGCGGAGGCCATGGATGCGATCGCTGCGGCCGATCTTAGCC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHHFDDDDDDEDDD...

In [211]:
df[df.FLAG.isin([99,147])]

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,1392,60,101M,=,1503,212,NCATTGATTATTGACTAGTTATTAATAGTAATCAATTACGGGGTCA...,#1=DDFFFHHHHHJJJJJJJJJJJJIJJIJJJJJJJJJJJJJJGHI...
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5279,60,101M,=,5457,279,CGTGTTTGCCTGGGCCTTGGACGTCTTGGCCAAACGCCTCCGTTCC...,CCCFFFFFHHHHGIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177,147,SSV9K2-CMV-GFP-HygroTK-bGHpA,3530,60,101M,=,3440,-191,CTTCGATGTAGGAGGGCGTGGATATGTCCTGCGGGTAAATAGCTGC...,DDDDDDDDDDDDDDDDDDDEDEDDCDDDDDDDDDEEEDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5128,60,101M,=,5206,179,GGGAGGACTGGGGACAGCTTTCGGGGACGGCCGTGCCGCCCCAGGG...,CCCFFFFFHHHHHIJIJJJJJJJJJJJJJJJJJJJHHHFDDDDDDD...

In [212]:
df.query('FLAG == 141')

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169,141,*,0,0,*,*,0,0,TCGTAGATTTCTCTGGCGATTGAAGGGCTAAATTCTTCAACGCTAA...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222,141,*,0,0,*,*,0,0,ACAGTTTGATGAGTATAGAAATGGATCCACTCGTTATTCTCGGACG...,CCCFFFFFHHHHHHIIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...

***With a multiple conditions***

In [216]:
df[(df.FLAG == 163) & (df.TLEN > 180)]

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4862,60,101M,=,4950,189,CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...,CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,2809,60,101M,=,3032,324,CTATAGGGAGACCACAACGGTTTCCCTCTAGCGGGATCAATTCCGC...,CCCFFFFFHHHHHJJIJJJJIIJJJJJJJJJJJJJHJJIJJJIIIJ...
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4828,60,101M,=,4925,198,CCCTCACCCTAATCTTCGACCGCCATCCCATCGCCGCCCTCCTGTG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJHHHHHF...

In [218]:
df.query('FLAG == 99 and TLEN > 200')

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,1392,60,101M,=,1503,212,NCATTGATTATTGACTAGTTATTAATAGTAATCAATTACGGGGTCA...,#1=DDFFFHHHHHJJJJJJJJJJJJIJJIJJJJJJJJJJJJJJGHI...
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5279,60,101M,=,5457,279,CGTGTTTGCCTGGGCCTTGGACGTCTTGGCCAAACGCCTCCGTTCC...,CCCFFFFFHHHHGIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...

### Iterate over a dataframe

***Iterate row by row with "iterrows"***

In [226]:
for index_name, row_values in df.iterrows():
    if row_values.CIGAR != "101M" and row_values.RNAME!="*":
        print (row_values)

FLAG                                        2115
RNAME               SSV9K2-CMV-GFP-HygroTK-bGHpA
POS                                         5466
MAPQ                                          60
CIGAR                                     39M62H
RNEXT                                          =
PNEXT                                       4511
TLEN                                        -956
SEQ      GCCCGGGAGATGGGGGAGGCTAACTGAAAATCGATGGAT
QUAL     CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHJJJJJ
Name: HWI-1KL149:87:HA58EADXX:1:1101:1813:2228, dtype: object

***Iterate by group of value with "groupby"***

In [242]:
for group, group_df in df.groupby("FLAG"):
    print ("\nGroup with flag {}".format(group))
    display (group_df)

Group with flag 83

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1606:2189,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4285,60,101M,=,4104,-282,AGGGTCGATGCGACGCAATCGTCCGATCCGGAGCCGGGACTGTCGG...,DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,3032,60,101M,=,2809,-324,CTGTTGAATGTCGTGAAGGAAGCAGTTCCTCTGGAAGCTTCTTGAA...,DDDEEDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDEDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2344:2177,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4321,60,101M,=,4198,-224,GGACTGTCGGGCGTACACAAATCGCCCGCAGAAGCGCGGCCGTCTG...,DDDDDDDDDDDDEDDDEDDDDDDDDDDDDDDDDDDDDDDDDDDDDD...
HWI-1KL149:87:HA58EADXX:1:1101:2647:2140,83,SSV9K2-CMV-GFP-HygroTK-bGHpA,4552,60,101M,=,4437,-216,CCACCACGCAACTGCTGGTGGCCCTGGGTTCGCGCGACGATATCGT...,@<2DB<BC>CABCDB?DB@B?DBA?DDDBB>@>;8?98@==?;;C=...

Group with flag 99

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:2031:2119,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,1392,60,101M,=,1503,212,NCATTGATTATTGACTAGTTATTAATAGTAATCAATTACGGGGTCA...,#1=DDFFFHHHHHJJJJJJJJJJJJIJJIJJJJJJJJJJJJJJGHI...
HWI-1KL149:87:HA58EADXX:1:1101:2813:2174,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5279,60,101M,=,5457,279,CGTGTTTGCCTGGGCCTTGGACGTCTTGGCCAAACGCCTCCGTTCC...,CCCFFFFFHHHHGIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2854:2200,99,SSV9K2-CMV-GFP-HygroTK-bGHpA,5128,60,101M,=,5206,179,GGGAGGACTGGGGACAGCTTTCGGGGACGGCCGTGCCGCCCCAGGG...,CCCFFFFFHHHHHIJIJJJJJJJJJJJJJJJJJJJHHHFDDDDDDD...

Group with flag 141

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1744:2169,141,*,0,0,*,*,0,0,TCGTAGATTTCTCTGGCGATTGAAGGGCTAAATTCTTCAACGCTAA...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJIJJJJJJJJJJJJJ...
HWI-1KL149:87:HA58EADXX:1:1101:2228:2222,141,*,0,0,*,*,0,0,ACAGTTTGATGAGTATAGAAATGGATCCACTCGTTATTCTCGGACG...,CCCFFFFFHHHHHHIIJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ...

Group with flag 147

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:2953:2177,147,SSV9K2-CMV-GFP-HygroTK-bGHpA,3530,60,101M,=,3440,-191,CTTCGATGTAGGAGGGCGTGGATATGTCCTGCGGGTAAATAGCTGC...,DDDDDDDDDDDDDDDDDDDEDEDDCDDDDDDDDDEEEDDDDDDDDD...

Group with flag 163

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1531:2163,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4862,60,101M,=,4950,189,CGCCCTCCTGTGCTACCCGGCCGCGCGGTACCTTATGGGCAGCATG...,CCCFFFFFGHHHHJJJJJJJJJJJJJJJGIJJJJJJHHHHHFFFEE...
HWI-1KL149:87:HA58EADXX:1:1101:1752:2238,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,2809,60,101M,=,3032,324,CTATAGGGAGACCACAACGGTTTCCCTCTAGCGGGATCAATTCCGC...,CCCFFFFFHHHHHJJIJJJJIIJJJJJJJJJJJJJHJJIJJJIIIJ...
HWI-1KL149:87:HA58EADXX:1:1101:2133:2244,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,4828,60,101M,=,4925,198,CCCTCACCCTAATCTTCGACCGCCATCCCATCGCCGCCCTCCTGTG...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJJJJJJJJHHHHHF...
HWI-1KL149:87:HA58EADXX:1:1101:2645:2113,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,5493,60,101M,=,5559,167,AAATCGATGGATCCACTAGTTCTAGAGGGCCCTATTCTATAGTGTC...,CCCFFFFFHHHHHJJJJJJIIJJJJJJJJJJJJIJJJJIJJJHGII...
HWI-1KL149:87:HA58EADXX:1:1101:2485:2160,163,SSV9K2-CMV-GFP-HygroTK-bGHpA,3756,60,101M,=,3829,174,CCGGTCGCGGAGGCCATGGATGCGATCGCTGCGGCCGATCTTAGCC...,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHHFDDDDDDEDDD...

Group with flag 2115

,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL
QNAME,,,,,,,,,,
HWI-1KL149:87:HA58EADXX:1:1101:1813:2228,2115,SSV9K2-CMV-GFP-HygroTK-bGHpA,5466,60,39M62H,=,4511,-956,GCCCGGGAGATGGGGGAGGCTAACTGAAAATCGATGGAT,CCCFFFFFHHHHHJJJJJJJJJJJJJJJJJJJJHJJJJJ

### And much more...

**Pandas documentation is extensive and updated frequently**

* [Working with Text Data](http://pandas.pydata.org/pandas-docs/stable/text.html)

* [Merge, join, and concatenate](http://pandas.pydata.org/pandas-docs/stable/merging.html)

* [Reshaping and Pivot Tables](http://pandas.pydata.org/pandas-docs/stable/reshaping.html)

* [IO Tools (Text, CSV, HDF5, ...)](http://pandas.pydata.org/pandas-docs/stable/io.html)

* [Time Series / Date functionality](pandas.pydata.org/pandas-docs/stable/timeseries.html)

* [Categorical Data](http://pandas.pydata.org/pandas-docs/stable/categorical.html)

* [Visualization plotting data](http://pandas.pydata.org/pandas-docs/stable/visualization.html)

* [Comparison with R / R libraries](http://pandas.pydata.org/pandas-docs/stable/comparison_with_r.html)